 {% extends "base.html" %}

{% block use_nav %} {% endblock %}

{% block content %}
<!-- Add a way to hide Raffle and Presentations if the user isn't admin -->
<ul class="nav nav-tabs">
  <li class="active tab"><a href="#tab-dashboard" data-toggle="tab">Dashboard</a> </li>
  <li class="tab"><a href="#tab-raffle" data-toggle="tab">Raffle</a></li>
  <li class="tab"><a href="#tab-presentation" data-toggle="tab">Presentations</a></li>
</ul>
<div class="tab-content">
  <div id="tab-dashboard" class="active tab-pane">
    <div class="timer">
      <div id="clock">&nbsp;</div>
    </div>
  </div>
  <div id="tab-raffle" class="tab-pane">
    <div id="rafflebutton" class="centered">
      <button class="btn-large btn btn-primary" onclick="setupRaffle({{hackathon.id}})">New Raffle</button>
    </div>
    <div id="faces">
    </div>
    <div id="winner">
    </div>
  </div>
  <div id="tab-presentation" class="tab-pane">
  <div class="centered"><div id="timer">2:00</div></div>
    <div id="shufflebutton" class="centered">
   <button class="btn-large btn btn-primary" onclick="countdown()" id="countdownbutton">Start Countdown</button> <button class="btn-large btn btn-primary" onclick="supershuffle()">Shuffle Hacks</button> <button class="btn-large btn btn-primary" onclick="nexthack()">Next Hack</button>
    </div>
  <ul id="sortable" style="list-style-type: none; position:relative; margin:0px; padding:3px;">
  {% for hack in hacks %}
  <li class="ui-state-default hack" style=" margin:4px;padding:4px; "><div class="small"><img src="{{hack.screenshot_url}}" width="40" height="40" style="padding-right:4px;"/><a href="{{hack.url}}"><strong>{{hack.title}}</strong> - {{hack.description}}</a></div>
  
  <div class="big" style="display:none;"><img src="{{hack.screenshot_url}}" width="120" height="120" style="padding-right:8px; float:left"/><h2>{{hack.title}}</h2>
<h4><a href="{{hack.url}}">{{hack.url}}</a></h4>
<h7>{{hack.description}}</h7><div style="clear:both;"></div></div></li>
  {% endfor %}
</ul>
  </div>
</div>
<script type="text/javascript">
var curpos = 1;
function nexthack(){
	curpos++;
	var count = $("ul li.hack").length;
	if (curpos>count){
		curpos = 1;
	}
	numshow(curpos);	
}
function numshow(i){
$(".small").show();
$(".big").hide();
$("ul li.hack:nth-child("+i+") .small").hide();
$("ul li.hack:nth-child("+i+") .big").show();
}
numshow(curpos);
function supershuffle(){
	for (var i = 0; i < 100; i++){//shuffle sucks. lets do it 100 times. that'll totally work.
	shuffle();
	}
	curpos = 0;
	nexthack();
	}
function shuffle(){
	 $( "#sortable" ).each(function(){
				// get current ul
				var $ul = $(this);
				// get array of list items in current ul
				var $liArr = $ul.children('li');
				// sort array of list items in current ul randomly
				$liArr.sort(function(a,b){
					  // Get a random number between 0 and 10
					  var temp = parseInt( Math.random()*10 );
					  // Get 1 or 0, whether temp is odd or even
					  var isOddOrEven = temp%2;
					  // Get +1 or -1, whether temp greater or smaller than 5
					  var isPosOrNeg = temp>5 ? 1 : -1;
					  // Return -1, 0, or +1
					  return( isOddOrEven*isPosOrNeg );
				})
				// append list items to ul
				.appendTo($ul);            
		  });	}
		  
</script>
		  
<script type="text/javascript">
  window.people = [];
  $(function() {
    var endDate = new Date("{{ hackathon.end_date }}");
	var secondsremaining = (endDate.getTime() - (new Date()).getTime())/1000;
	clock(secondsremaining);
  });
</script>
{% endblock %}
