 {% extends "base.html" %}

{% block use_nav %} {% endblock %}

{% block content %}
<div  style="text-align:center;">
	<div class="dashboard-title" style="margin-bottom: 0;"><a href="/hackathon/{{ hackathon.id }}"> {{ hackathon.title }} </a></div><br />
	<blockquote>
		<h4>{{ hackathon.description }}</h4>
		<h5> Event will be placed at {{ hackathon.location }} </h5>
		<h5><b>Begins on</b> {{ hackathon.start_date.strftime("%a %b %d at %I:%M %p") }} <b>and ends on</b> {{ hackathon.end_date.strftime("%a %b %d at %I:%M %p") }}! </h5>
	</blockquote>
	<button class="btn"><a href="/">Go Back</a></button>
{% endblock %}
