
{% extends "base.html" %}

{% block content %}
    <form class="form-search">
    <input type="text" class="input-medium search-query">
    <button type="submit" class="btn">Search for hackathons</button>
    </form>
    <h1>HackPack</h1>
<div class="row">
<div class="span4">
  <!-- Carousel
    ================================================== -->
    <div id="myCarousel" class="carousel slide">
      <div class="carousel-inner">
        <div class="item active">
          <img src="../static/img/carousel.png" alt="">
        </div>
        <div class="item">
          <img src="../static/img/carousel2.png" alt="">
        </div>
        <div class="item">
          <img src="../static/img/carousel3.png" alt="">
        </div>
      </div>
      <a class="left carousel-control" href="#myCarousel" data-slide="prev">&lsaquo;</a>
      <a class="right carousel-control" href="#myCarousel" data-slide="next">&rsaquo;</a>
    </div><!-- /.carousel -->
<!-- Create and event list ==== -->
</div>
<div class="span5">
<a class="btn btn-primary">Create Event</a>

    <ul class="nav nav-pills nav-stacked">

	    {% for hackathon in hackathons %}
	    <li>
	    	<a href="#">
			<h2>{{ hackathon.title }}  </h2>
			{{ hackathon.description }}. AT: {{ hackathon.location }}
			<p>FROM: {{ hackathon.start_time }} TO: {{ hackathon.end_time }} </p>
		</a>
	    </li>
	    {% endfor %}
    </ul>
<h3>Current</h3>
<ol>
<li>Hackathon 1</li>
<li>Hackathon 2</li>
</ol>
<h3>Upcoming</h3>
</div>
</div>

<!-- /Create and event list -->

{% endblock %}
