
{% extends "base.html" %}

{% block content %}
    <h1>Landing Page</h1>
<div>
  <!-- Carousel
    ================================================== -->
    <div id="myCarousel" class="carousel slide">
      <div class="carousel-inner">
        <div class="item active">
          <img src="../static/img/carousel.png" alt="">
        </div>
        <div class="item">
          <img src="../static/img/carousel2.png" alt="">
        </div>
        <div class="item">
          <img src="../static/img/carousel3.png" alt="">
        </div>
      </div>
      <a class="left carousel-control" href="#myCarousel" data-slide="prev">&lsaquo;</a>
      <a class="right carousel-control" href="#myCarousel" data-slide="next">&rsaquo;</a>
    </div><!-- /.carousel -->
</div>
{% endblock %}
