.divDemoBody p {
	font-size: 18px;
	line-height: 140%;
	padding-top: 12px;
	}
.divDialogElements input {
	font-size: 18px;
	padding: 3px;
	height: 32px;
	width: 120px;
	}
.divButton {
	padding-top: 12px;
	}
