
/* custom style */
#clock{
	font-size:60px;
	text-align:center;
    line-height: 60px;
    font-weight: bold;
}
.song {
  text-align: center;
  font-size: 30px;
  line-height: 30px;
  font-weight: 100;
  margin-bottom: 15px;
}
.tablelabel{
	margin-top:14px;
	margin-right:4px;
	text-align:right;
}
.centered{
	text-align:center;
}
#rafflebutton{
	margin-bottom:10px;
}
.faces{
	float:left;
}
#winner{
	padding-top:30px;
    position:absolute;
    left:0px;
    width:100%;
    text-align:center;
    font-size:60px;
}

.masthead {
  text-align: center;
  margin-bottom: 30px;
}

.masthead h2 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 100;
  font-size: 50px;
}

.dashboard-title {
  font-size: 50px;
  line-height: 70px;
  text-align: center;
  color: #317EAC;
}

ul.nav.nav-tabs {
  margin-bottom: 10px;
}
#timer{
	font-size:60px;
	text-align:center;
    line-height: 60px;
    padding-bottom: 10px;
}

footer {
  text-align: center;
  margin-top: 20px;
  font-size: 0.9em;
  color: #888;
}

#shoutout-area {
  height: 200px;
  overflow-y: scroll;
  margin-bottom: 10px;
  padding: 8px;
}

#shoutout-form input { width: 555px; }

.shoutout {
  margin-bottom: 5px;
}
