
/* custom style */
#clock{
	font-size:60px;
	text-align:center;
    line-height: 60px;
    padding-bottom: 10px;

}
.tablelabel{
	margin-top:14px;
	margin-right:4px;
	text-align:right;
}
.centered{
	text-align:center;
}
#rafflebutton{
	margin-bottom:10px;
}
.faces{
	float:left;
}
#winner{
	padding-top:30px;
    position:absolute;
    left:0px;
    width:100%;
    text-align:center;
    font-size:60px;
}

.masthead {
  text-align: center;
  margin-bottom: 30px;
}

.masthead h2 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 100;
  font-size: 50px;
}

ul.nav.nav-tabs {
  margin-bottom: 10px;
}
#timer{
	font-size:60px;
	text-align:center;
    line-height: 60px;
    padding-bottom: 10px;
}

footer {
  text-align: center;
  margin-top: 20px;
  font-size: 0.9em;
  color: #888;
}
